In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("HiveAuthExample") \
    .enableHiveSupport() \
    .config("hive.metastore.uris", "thrift://localhost:9083") \
    .config("javax.jdo.option.ConnectionUserName", "hive") \
    .config("javax.jdo.option.ConnectionPassword", "rangerR0cks!") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://ranger-hadoop:9000/") \
    .getOrCreate()

In [ ]:
spark.sql("""
INSERT INTO mock_db.mock_table VALUES
(1, 'Alice', 25, 'New York'),
(2, 'Bob', 30, 'San Francisco'),
(3, 'Charlie', 35, 'Los Angeles'),
(4, 'David', 40, 'Chicago'),
(5, 'Eve', 45, 'Miami');
""").show()

In [ ]:
spark.sql("SELECT * FROM mock_db.mock_table;").show()